* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    background-color: #222;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 30px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    margin: 0 10px;
    list-style: none;
    line-height: 100%;
    cursor: pointer;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.nav-list li.selected {
    background-color: #444;
    padding: 10px 20px;
    border-radius: 10px;
}